body{
	width: 350px;
	border: 1px solid black;
	padding: 5px;
}
h1{
	margin: 0px;
}
h2{
	font-size: 15px;
	margin: 0px;
}

tr{
	text-align: right;
	font-weight: normal;
}

th{
	font-weight: normal;
	text-align: left;
	width: 230px;
}

td{
	width: 60px;
}

th, td{
	border-bottom: 1px solid black;
}

.th1{
	font-weight: bold;
}

.td1{
	font-weight: bold;
}

.thick{
	height: 5px;
	color: black;
	padding: 0%;
	background-color: black;
}

.shove{
	padding-left: 15px;
}

li{
	display: inline;
}

.dont{
	border-bottom: 0px;
}

#bor3{
	border-bottom: 4px;
}

#bor2{
	border-bottom: 3px;
}

#bor1{
	border-bottom: 2px;
}

.small {
	font-size: 9px;
}